body {
    font-family: Arial;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.3;
    color: #000000;
}
a {
    color: #0E61AF;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
#tinymce {
    max-width: 680px;
    margin: auto;
    padding-top: 40px !important;
}
p {
    padding: 0;
    margin: 0;
}
/*
h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}
h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}
h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}
h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}
 */
h2, h3, h4, h5, h6 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
}

em {
    font-style: italic;
}
.wp-caption-dd {
    color: #999999;
    font-size: 14px;
    margin-top: 8px;
    padding-bottom: 40px;
}
ol, ul {
    padding-left: 20px;
    margin: 0;
}
.wp-caption-dt img {
    border-radius: 6px;
    overflow: hidden;
}
img.alignleft {
    float: left;
    margin-right: 20px;
}
img.alignright {
    float: right;
    margin-left: 20px;
}
img.aligncenter {
    margin: auto;
    display: block;
}
table {
    border: none;
}
table tr td {
    padding: 6px;
}
blockquote {
    border-left: 4px solid #ffd257;
    padding: 20px;
    color: #000000;
    background-color: rgb(14 97 175 / 8%);
    margin-bottom: 30px;
    border-radius: 6px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}
blockquote p {
    padding-bottom: 0;
}
.custom-style-text {
    font-size: 20px;
}